#card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

#card>div {
    flex: 1;
    flex-basis: 25%;
    box-sizing: border-box;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.16), 0 8px 12px rgba(0, 0, 0, 0.2);
    margin: 10px;
    text-align: center;
}